*{
    margin:0px;
    padding:0px;
}

.form{
    width:80%;
    margin:10px auto;
    background-color: rgb(192,192,192);
}

.departdetail{
    float: left;
    width:30%;
    height:200px;
}

.departdetail h3 ,.departdetail select,.departdetail input[type='date'] {
    margin:5px 10px;
    padding:5px 10px
}

input[type="radio"]{
    margin: 10px;
    padding:10px
}

.clear{
    clear: both;
}

.radio h3{
    display: inline-block;
    margin:0 10px;
}

.radio{
    width:100%;
}


.left{
    float:left;
    margin-top: 10px;
}

.departdetail button {
    
    border-radius: 10px;
    padding:5px;
    font-size: 25px;
    font-weight: bold;
    margin:5px 10px
}
.error{
    color:red;

}

.error-space{
text-align: center
}


.main{
    width:80%;
   
    margin:10px auto;
    
}

.block{
    width:100%;
    height:150px;
    border:1px solid black;
    border-radius: 10px;
}



.limit,.fare,.duration,.arrivaldetail,.departdetaildata,.flightinfo{
    float: left;
    width:15%;
    height:100%;
    text-align: center
}


.main table{
    width:100%;
    height:50px;
    border:1px solid black
}

.main table tr td{
    border:1px solid black;
    text-align: center
}
.main table tr {
    height:100px
}

